// Variables pour la palette de couleurs
$primary-color: #153a61; // Couleur principale (bleu)
$secondary-color: #6c757d; // Couleur secondaire (gris)

// Variables pour la typographie
$body-font: Arial, sans-serif;
$heading-font: 'Helvetica Neue', sans-serif;

// Styles de base
body {
  font-family: $body-font;
  background-color: #333; // Fond gris clair
  color: #ccc; // Texte noir
}

// En-tête
header {
  background-color: $primary-color;
  color: #ccc; // Texte blanc
  padding: 1rem;
  border-radius: 10px;
  h1 {
    margin-bottom: 2rem;
  }
}

// Barre de navigation
nav {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  li {
    a {
      text-decoration: none;
      color: #ccc;
      transition: all 0.3s;
      box-shadow: 0 0 2px white;
      padding: 1rem;
      border-radius: 10px;
      
      &:hover {
          color: #fff;
          background-color: #1c4979;
          box-shadow: 0 0 5px 2px white;
      }
    }
  }
}

// Styles pour les boutons
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $primary-color;
  color: #ccc;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondary-color;
  }
}

// Styles pour les titres
h1, h2, h3 {
  font-family: $heading-font;
  font-weight: bold;
}

// Styles pour les éléments de formulaire
form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  input[type="text"], input[type="number"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 0.5rem;
  }
}

// Autres styles...

